<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HwangJiHun.poeitemvalues.repository.mybatis.UpdateParamDtoMapper">
    <select id="findByCond" resultType="UpdateParamDto">
        select *
        from POEITEMVALUES
        <where>
            <if test="itemName != null and itemName != ''">
                and item_name like concat('%',#{itemName},'%')
            </if>
            <if test="bottomPrice != null">
                and RECEIVE_VALUE &gt;= #{bottomPrice}
            </if>
            <if test="topPrice != null">
                and RECEIVE_VALUE &lt;= #{topPrice}
            </if>
            <if test="percentage != null">
                and RECEIVE_TOTAL_CHANGE &gt;= #{percentage}
            </if>
        </where>
    </select>
</mapper>
