<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currency</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
</head>
<body style="display: grid;">

<div style="display: flex; flex-direction: column; width: 100%">
    <!--Header-->
    <header style="width: 100%">
        <div style="display: flex; flex: 1 0 auto; width: 100%">
            <!-- Top bar -->
            <nav th:replace="~{common/common_top_bar :: common_top_bar}"></nav>
        </div>
    </header>

    <!-- Content Wrapper -->
    <div style="width: 100%; display: flex; flex-direction: row;">
        <!--Side Bar-->
        <ul th:replace="~{common/common_side_bar :: common_side_bar4}"></ul>

        <!-- Main Content -->
        <div class="mainContainer" style="user-select: auto; min-height: 100vh; padding: .5rem;">
            <section
                    style="display: flex; flex-direction: column; -webkit-box-pack: start; justify-content: flex-start; gap: .5rem">
                <div style="display: grid; border-radius: .375rem">
                    <main style="overflow: auto;">
                        <section
                                style="display: grid; grid-template-rows: auto minmax(0px, 1fr); background-clip: padding-box; overflow: hidden; border-radius: .375rem">
                            <!--Search Bar-->
                            <div id="search-bar">
                                <div>
                                    <form action="currency.html" th:action
                                          method="get"
                                          th:object="${itemSearchCond}"
                                          class="d-flex" style="align-items: center;">
                                        <input th:field="*{itemName}" id="itemName" class="form-control me-sm-2" type="text" placeholder="이름">
                                        <input th:field="*{bottomPrice}" id="bottomPrice" class="form-control me-sm-2" type="text" placeholder="최저값">
                                        <input th:field="*{topPrice}" id="topPrice" class="form-control me-sm-2" type="text" placeholder="최고값">
                                        <input th:field="*{percentage}" id="percentage" class="form-control me-sm-2" type="text" placeholder="증감률">
                                        <button id="submitButton" class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                                    </form>
                                </div>
                            </div>
                            <div style="padding: .75rem; overflow-y: hidden; overflow-x: auto">
                                <div style="display: flex; flex-direction: column; -webkit-box-pack: start; justify-content: flex-start; gap: 1.5rem">
                                    <div style="display: flex; flex-direction: column; -webkit-box-pack: start; justify-content: flex-start; gap: 1rem">
                                        <div id="table">
                                            <small style="font-style: italic; font-size: 1rem; display: block; text-align: right; padding-block: .25rem">(scroll
                                                to see more)</small>
                                            <div>
                                                <!--CurrencyTable-->
                                                <table class="table table-hover"
                                                       style="user-select: auto; width: 100%;"
                                                       th:object="${currencyOverviewDtoList}">

                                                    <!--Table Head-->
                                                    <thead style="user-select: auto;">
                                                    <tr style="user-select: auto;">
                                                        <td class="empty"></td>
                                                        <th colspan="5" style="text-align: center">Buy</th>
                                                        <th colspan="4" style="text-align: center">Sell</th>
                                                    </tr>
                                                    <tr style="user-select: auto;">
                                                        <th style="user-select: auto;text-align: center;">Name</th>
                                                        <th style="user-select: auto;text-align: center;" colspan="3">Buying price</th>
                                                        <th style="user-select: auto;text-align: center;" colspan="2">Last 7 days</th>
                                                        <th style="user-select: auto;text-align: center;" colspan="3">Selling price</th>
                                                        <th style="user-select: auto;text-align: center;">Last 7 days</th>
                                                    </tr>
                                                    </thead>

                                                    <!--Table Body-->
                                                    <tbody style="user-select: auto;">
                                                    <tr class="table-light" style="user-select: auto;"
                                                        th:each="currency : ${currencyOverviewDtoList}">

                                                        <!--Name-->
                                                        <td style="user-select: auto;"  >
                                                            <div style="display: flex; flex-direction: row;">
                                                                <div>
                                                                    <img th:src="${currency.getIcon()}">
                                                                </div>
                                                                <a th:href="@{/static}"
                                                                   style="display: flex; justify-content: center; align-items: center">
                                                                    <span th:text="${currency.getCurrencyTypeName()}">name</span>
                                                                </a>
                                                            </div>
                                                        </td>

                                                        <!--Buying price-->
                                                        <td style="user-select: auto; font-weight: 500; justify-content: center; align-items: center">
                                                        <span th:title="|${currency.getBuyPayValue()}|"
                                                              style="display: grid; grid: 1fr / 1fr 1.5rem; grid-gap: 0.25rem;
                                                              justify-content: center; align-items: center; box-sizing: border-box; max-width: 80ch">
                                                            <span th:text="|${currency.getBuyPayValue()}|" style="text-align: center">buying price 1</span>
                                                            <img th:title="${currency.getBuyPayCurrencyName()}"
                                                                 width="100%" height="auto"
                                                                 th:src="${currency.getBuyPayCurrencyIcon()}"
                                                                 th:alt="${currency.getBuyPayCurrencyName()}">
                                                        </span>
                                                        </td>

                                                        <td style="user-select: auto;"> → </td>

                                                        <td style="user-select: auto; font-weight: 500; justify-content: center; align-items: center">
                                                        <span th:title="|${currency.getBuyReceiveValue()}|"
                                                              style="display: grid; grid: 1fr / 1fr 1.5rem; grid-gap: 0.25rem;
                                                              justify-content: center; align-items: center; box-sizing: border-box; max-width: 80ch">
                                                            <span th:text="|${currency.getBuyReceiveValue()}|" style="text-align: center">buying price 3</span>
                                                            <img th:title="${currency.getBuyGetCurrencyName()}"
                                                                 width="100%" height="auto"
                                                                 th:src="${currency.getBuyGetCurrencyIcon()}"
                                                                 th:alt="${currency.getBuyGetCurrencyName()}">
                                                        </span>
                                                        </td>

                                                        <!--Last 7 days-->
                                                        <td style="user-select: auto; justify-content: center; align-items: center">
                                                        <span style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                                                            <div style="background-color: transparent; width: 6rem; height: 2rem; align-items: center; justify-content: center">
                                                                <canvas th:id="${currency.getBuyChartId()}">GRAPH</canvas>
                                                                <script th:replace="~{common/common_linegrpah :: common_linegraph(${currency.getBuyChartId()}, ${currency.getBuyChartDataList()})}"></script>
                                                            </div>
                                                            <span th:text="${currency.getBuyTotalChange()}" style="text-align: center"></span>
                                                        </span>
                                                        </td>
                                                        <td style="user-select: auto;">
                                                            <button th:text="Trade"></button>
                                                        </td>

                                                        <!--Selling Price-->
                                                        <th:block th:if="${currency.getSellPayValue() == null}">
                                                            <td colspan="3"
                                                                style="text-align: center; vertical-align: middle"
                                                                th:text="|데이터 불충분|"></td>
                                                        </th:block>
                                                        <th:block th:unless="${currency.getSellPayValue() == null}">
                                                            <td style="user-select: auto; font-weight: 500; justify-content: center; align-items: center">
                                                        <span th:title="|${currency.getSellPayValue()}|"
                                                              style="display: grid; grid: 1fr / 1fr 1.5rem; grid-gap: 0.25rem;
                                                              justify-content: center; align-items: center; box-sizing: border-box; max-width: 80ch">
                                                            <span th:text="|${currency.getSellPayValue()}|" style="text-align: center">sell price 1</span>
                                                            <img th:title="${currency.getSellPayCurrencyName()}"
                                                                 width="100%" height="auto"
                                                                 th:src="${currency.getSellPayCurrencyIcon()}"
                                                                 th:alt="${currency.getSellPayCurrencyName()}">
                                                        </span>
                                                            </td>

                                                            <td style="user-select: auto;">→</td>

                                                            <td style="user-select: auto; font-weight: 500; justify-content: center; align-items: center">
                                                        <span th:title="|${currency.getSellReceiveValue()}|"
                                                              style="display: grid; grid: 1fr / 1fr 1.5rem; grid-gap: 0.25rem;
                                                              justify-content: center; align-items: center; box-sizing: border-box; max-width: 80ch">
                                                            <span th:text="|${currency.getSellReceiveValue()}|" style="text-align: center">sell price 1</span>
                                                            <img th:title="${currency.getSellGetCurrencyName()}"
                                                                 width="100%" height="auto"
                                                                 th:src="${currency.getSellGetCurrencyIcon()}"
                                                                 th:alt="${currency.getSellGetCurrencyName()}">
                                                        </span>
                                                            </td>
                                                        </th:block>


                                                        <!--Last 7 days-->
                                                        <th:block th:if="${currency.getSellChartDataList().size() == 0}">
                                                            <td style="text-align: center; vertical-align: middle"
                                                                th:text="|데이터 불충분|"></td>
                                                        </th:block>
                                                        <th:block th:unless="${currency.getSellChartDataList().size() == 0}">
                                                            <td style="user-select: auto; justify-content: center; align-items: center">
                                                        <span style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                                                            <div style="background-color: transparent; width: 6rem; height: 2rem; align-items: center; justify-content: center">
                                                                <canvas th:id="${currency.getSellChartId()}">GRAPH</canvas>
                                                                <script th:replace="~{common/common_linegrpah :: common_linegraph(${currency.getSellChartId()}, ${currency.getSellChartDataList()})}"></script>
                                                            </div>
                                                            <span th:text="${currency.getSellTotalChange()}" style="text-align: center"></span>
                                                        </span>
                                                            </td>
                                                        </th:block>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </main>
                </div>
            </section>
        </div>
    </div>
</div>

</body>
</html>