<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
</head>
<body style="display: grid;">
<div class="mainContainer" style="user-select: auto; min-height: 100vh; padding: .5rem">
    <section style="display: flex; flex-direction: column; -webkit-box-pack: start; justify-content: flex-start; gap: .5rem">
        <nav></nav>
        <div style="display: grid; border-radius: .375rem">
            <main style="overflow: auto;">
                <section style="display: grid; grid-template-rows: auto minmax(0px, 1fr); background-clip: padding-box; overflow: hidden; border-radius: .375rem">
                    <div style="padding: .75rem; overflow: auto; ">
                        <div style="display: flex; flex-direction: column; -webkit-box-pack: start; justify-content: flex-start; gap: 1.5rem">
                            <div style="display: flex; flex-direction: column; -webkit-box-pack: start; justify-content: flex-start; gap: 1rem">
                                <div></div>
                                <div>
                                    <small style="font-style: italic; font-size: 1rem; display: block; text-align: right; padding-block: .25rem">(scroll to see more)</small>
                                    <div style="overflow: auto;">
                                        <table class="table table-hover"
                                               style="user-select: auto; width: 100%;"
                                               th:object="${currencyOverviewDtos}">
                                            <thead style="user-select: auto;">
                                            <tr style="user-select: auto;">
                                                <td class="empty"></td>
                                                <th colspan="5">Buy</th>
                                                <th colspan="5">Sell</th>
                                            </tr>
                                            <tr style="user-select: auto;">
                                                <th style="user-select: auto;">Name</th>
                                                <th style="user-select: auto;" colspan="3">Buying price</th>
                                                <th style="user-select: auto;">Last 7 days</th>
                                                <th style="user-select: auto;" colspan="3">Selling price</th>
                                                <th style="user-select: auto;">Last 7 days</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody style="user-select: auto;">
                                            <tr class="table-light" style="user-select: auto;"
                                                th:each="currency : ${currencyOverviewDtos}">
                                                <td style="user-select: auto;">
                                                    <div style="display: flex; flex-direction: row;">
                                                        <div>
                                                            <img th:src="${currency.getIcon()}">
                                                        </div>
                                                        <a th:href="@{/}" style="display: flex; justify-content: center; align-items: center">
                                                            <span th:text="${currency.getCurrencyTypeName()}">Mirror of kalandra</span>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td style="user-select: auto; font-weight: 500; justify-content: center; align-items: center">
                <span th:title="|${currency.getReceiveValue()}|"
                      style="display: grid; grid: 1fr / 1fr 1.5rem; grid-gap: 0.25rem; justify-content: center; align-items: center; box-sizing: border-box; max-width: 80ch">
                    <span th:text="|${currency.getReceiveValue()}|" style="text-align: center"></span>
                    <img th:title="${currency.getPayCurrencyName()}"
                         width="100%" height="auto"
                         th:src="${currency.getPayCurrencyIcon()}"
                         th:alt="${currency.getPayCurrencyName()}">
                </span>
                                                </td>
                                                <td style="user-select: auto;">Column content</td>
                                                <td style="user-select: auto;">Column content</td>
                                                <td style="user-select: auto;">Column content</td>
                                                <td style="user-select: auto;">Column content</td>
                                                <td style="user-select: auto;">Column content</td>
                                                <td style="user-select: auto;">Column content</td>
                                                <td style="user-select: auto;">Column content</td>
                                                <td style="user-select: auto;">Column content</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </section>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>