<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>

</head>
<body>

<div style="display: flex; flex-direction: column; width: 100%">

    <!--Header-->
    <header style="width: 100%">
        <div style="display: flex; flex: 1 0 auto; width: 100%">
            <!-- Top bar -->
            <nav th:replace="~{common/common_top_bar}"></nav>
        </div>
    </header>

    <!-- Content Wrapper -->
    <div style="width: 100%; display: flex; flex-direction: row;">

        <!--Side Bar-->
        <ul th:replace="~{common/common_side_bar}"></ul>

        <!-- Main Content -->
        <div style="display: flex; flex: 1 0 auto; flex-direction: column; width: 100%">

            <!--Cards-->
            <div style="max-width: 100%">
                <!--First Cards-->
                <div style="padding: 0.35rem; display: flex; flex-wrap: nowrap; overflow-x: auto; max-width: 50rem">
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem; flex: 0 0 auto">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h4 class="card-title">Primary card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem; flex: 0 0 auto">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h4 class="card-title">Primary card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem; flex: 0 0 auto">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h4 class="card-title">Primary card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem; flex: 0 0 auto">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h4 class="card-title">Primary card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem; flex: 0 0 auto">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h4 class="card-title">Primary card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

                <!--Second Cards-->
                <div style="padding: 0.35rem; display: flex; flex-wrap: nowrap; overflow-x: auto; max-width: 50rem">
                    <div class="card bg-secondary mb-3" style="max-width: 20rem;flex: 0 0 auto;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h4 class="card-title">Secondary card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

                <!--Third Cards-->
                <div style="padding: 0.35rem; display: flex; flex-wrap: nowrap; overflow-x: auto; max-width: 50rem">
                    <div class="card bg-light mb-3" style="max-width: 20rem;flex: 0 0 auto;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h4 class="card-title">Light card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

                <!--Forth Cards-->
                <div style="padding: 0.35rem; display: flex; flex-wrap: nowrap; overflow-x: auto; max-width: 50rem">
                    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;flex: 0 0 auto;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h4 class="card-title">Dark card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

</body>
</html>