<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
</head>
<body style="display: grid;">
<div class="mainContainer" style="user-select: auto; min-height: 100vh; padding: .5rem">
    <section
            style="display: flex; flex-direction: column; -webkit-box-pack: start; justify-content: flex-start; gap: .5rem">
        <nav></nav>
        <div style="display: grid; border-radius: .375rem">
            <main style="overflow: auto;">
                <section
                        style="display: grid; grid-template-rows: auto minmax(0px, 1fr); background-clip: padding-box; overflow: hidden; border-radius: .375rem">
                    <div style="padding: .75rem; overflow: auto; ">
                        <div style="display: flex; flex-direction: column; -webkit-box-pack: start; justify-content: flex-start; gap: 1.5rem">
                            <div style="display: flex; flex-direction: column; -webkit-box-pack: start; justify-content: flex-start; gap: 1rem">
                                <div></div>
                                <div>
                                    <small style="font-style: italic; font-size: 1rem; display: block; text-align: right; padding-block: .25rem">(scroll
                                        to see more)</small>
                                    <div style="overflow: auto;">
                                        <!--CurrencyTable-->
                                        <table class="table table-hover"
                                               style="user-select: auto; width: 100%;"
                                               th:object="${currencyOverviewDtos}">

                                            <!--Table Head-->
                                            <thead style="user-select: auto;">
                                                <tr style="user-select: auto;">
                                                    <td class="empty"></td>
                                                    <th colspan="5" style="text-align: center">Buy</th>
                                                    <th colspan="4" style="text-align: center">Sell</th>
                                                </tr>
                                                <tr style="user-select: auto;">
                                                    <th style="user-select: auto;text-align: center;">Name</th>
                                                    <th style="user-select: auto;text-align: center;" colspan="3">Buying price</th>
                                                    <th style="user-select: auto;text-align: center;" colspan="2">Last 7 days</th>
                                                    <th style="user-select: auto;text-align: center;" colspan="3">Selling price</th>
                                                    <th style="user-select: auto;text-align: center;">Last 7 days</th>
                                                </tr>
                                            </thead>

                                            <!--Table Body-->
                                            <tbody style="user-select: auto;">
                                                <tr class="table-light" style="user-select: auto;"
                                                    th:each="currency : ${currencyOverviewDtos}">

                                                    <!--Name-->
                                                    <td style="user-select: auto;"  >
                                                        <div style="display: flex; flex-direction: row;">
                                                            <div>
                                                                <img th:src="${currency.getIcon()}">
                                                            </div>
                                                            <a th:href="@{/}"
                                                               style="display: flex; justify-content: center; align-items: center">
                                                                <span th:text="${currency.getCurrencyTypeName()}">name</span>
                                                            </a>
                                                        </div>
                                                    </td>

                                                    <!--Buying price-->
                                                    <td style="user-select: auto; font-weight: 500; justify-content: center; align-items: center">
                                                        <span th:title="|${currency.getBuyPayValue()}|"
                                                              style="display: grid; grid: 1fr / 1fr 1.5rem; grid-gap: 0.25rem;
                                                              justify-content: center; align-items: center; box-sizing: border-box; max-width: 80ch">
                                                            <span th:text="|${currency.getBuyPayValue()}|" style="text-align: center">buying price 1</span>
                                                            <img th:title="${currency.getBuyPayCurrencyName()}"
                                                                 width="100%" height="auto"
                                                                 th:src="${currency.getBuyPayCurrencyIcon()}"
                                                                 th:alt="${currency.getBuyPayCurrencyName()}">
                                                        </span>
                                                    </td>

                                                    <td style="user-select: auto;"> → </td>

                                                    <td style="user-select: auto; font-weight: 500; justify-content: center; align-items: center">
                                                        <span th:title="|${currency.getBuyReceiveValue()}|"
                                                              style="display: grid; grid: 1fr / 1fr 1.5rem; grid-gap: 0.25rem;
                                                              justify-content: center; align-items: center; box-sizing: border-box; max-width: 80ch">
                                                            <span th:text="|${currency.getBuyReceiveValue()}|" style="text-align: center">buying price 3</span>
                                                            <img th:title="${currency.getBuyGetCurrencyName()}"
                                                                 width="100%" height="auto"
                                                                 th:src="${currency.getBuyGetCurrencyIcon()}"
                                                                 th:alt="${currency.getBuyGetCurrencyName()}">
                                                        </span>
                                                    </td>

                                                    <!--Last 7 days-->
                                                    <td style="user-select: auto;">
                                                        <span style="display: flex; flex-direction: row">
                                                            <div style="background-color: transparent; width: 60px; height: 22px;">
                                                                <svg style="box-sizing: border-box"; overflow="hidden">
                                                                    <g>

                                                                    </g>
                                                                </svg>
                                                            </div>
                                                            <span th:text="${currency.getBuyTotalChange()}" style="text-align: center"></span>
                                                        </span>
                                                    </td>
                                                    <td style="user-select: auto;">
                                                        <button th:text="Trade"></button>
                                                    </td>

                                                    <!--Selling Price-->
                                                    <th:block th:if="${currency.getSellPayValue() == null}">
                                                        <td colspan="3"
                                                            style="text-align: center;"
                                                            th:text="|데이터 불충분|"></td>
                                                    </th:block>
                                                    <th:block th:unless="${currency.getSellPayValue() == null}">
                                                        <td style="user-select: auto; font-weight: 500; justify-content: center; align-items: center">
                                                        <span th:title="|${currency.getSellPayValue()}|"
                                                              style="display: grid; grid: 1fr / 1fr 1.5rem; grid-gap: 0.25rem;
                                                              justify-content: center; align-items: center; box-sizing: border-box; max-width: 80ch">
                                                            <span th:text="|${currency.getSellPayValue()}|" style="text-align: center">sell price 1</span>
                                                            <img th:title="${currency.getSellPayCurrencyName()}"
                                                                 width="100%" height="auto"
                                                                 th:src="${currency.getSellPayCurrencyIcon()}"
                                                                 th:alt="${currency.getSellPayCurrencyName()}">
                                                        </span>
                                                        </td>

                                                        <td style="user-select: auto;">→</td>

                                                        <td style="user-select: auto; font-weight: 500; justify-content: center; align-items: center">
                                                        <span th:title="|${currency.getSellReceiveValue()}|"
                                                              style="display: grid; grid: 1fr / 1fr 1.5rem; grid-gap: 0.25rem;
                                                              justify-content: center; align-items: center; box-sizing: border-box; max-width: 80ch">
                                                            <span th:text="|${currency.getSellReceiveValue()}|" style="text-align: center">sell price 1</span>
                                                            <img th:title="${currency.getSellGetCurrencyName()}"
                                                                 width="100%" height="auto"
                                                                 th:src="${currency.getSellGetCurrencyIcon()}"
                                                                 th:alt="${currency.getSellGetCurrencyName()}">
                                                        </span>
                                                        </td>
                                                    </th:block>


                                                    <!--Last 7 days-->
                                                    <td style="user-select: auto;">
                                                        <span style="display: flex; flex-direction: row">
                                                            <spab th:text="GRAPH"></spab>
                                                            <span th:text="${currency.getSellTotalChange()}" style="text-align: center"></span>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </section>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>